
{{ 'footer-new.css' |  asset_url |  stylesheet_tag }}
<footer class="footer-new">
 
    <!-- icon text section -->
     <div class="icon-with-text">
        <a href="#" class="store-locator-link">
          <span>
            {%  render 'store-locator' %} 
          </span>
          <p>{{ section.settings.store_locator_text }}</p>
        </a>

        <a href="#" class="customer-care-link">
          <span>
            {%  render 'phone-icon' %} 
          </span>
          <p>{{ section.settings.customer_care_text }}</p>
        </a>
     </div>

     <!-- detail summary blocks starts-->
         <div class="accordion-item-wrap">
            {% for block in section.blocks %}
            <accordion-items>
               <details>
                <summary>
                    <h4>{{ block.settings.summary_head |  upcase }}</h4>
                    <span class="arrow-icon">
                        {% render 'arrow-icon' %}
                    </span>


                </summary>

                <div class="accordion-content">
                   <ul>
                    {% for link in linklists[block.settings.menu].links %}
                     <li><a href="{{ link.url }}">{{ link.title }}</a></li>
                    {% endfor %}
                   </ul>
                </div>
               </details>
               </accordion-items>
            {% endfor %}
         </div>
     <!-- detail summary block ends-->

</footer>

<script>
  const accordionSummary = document.querySelectorAll('accordion-items summary');
  
  accordionSummary.forEach((summaryItem) => {
    summaryItem.addEventListener('click' , (e)=>{
        console.log(e.target , "target element");
    })
  })
</script>

{% schema %}
{
    "name": "Footer new",
    "settings": [
          {
            "type": "text",
            "id":"store_locator_text",
            "label":"Enter the store locator text",
            "default":"Find your nearest store"
          },
          {
            "type": "text",
            "id":"customer_care_text",
            "label":"Enter the customer care text",
            "default":"Customer Care 800MAXMARA"
          }
        ],
        "blocks":[{
            "name":"Accordion items",
            "type": "menu",
            "settings": [
                {
                    "type": "link_list",
                    "id":"menu",
                    "label": "Choose the menu"
                },
                {
                    "type": "text",
                    "id":"summary_head",
                    "label": "Enter the summary heading"
                }
            ]
        }]
}
{% endschema %}