{{ 'header-new.css' |  asset_url |  stylesheet_tag }}

<header class="header-new">
  <div class="header-new-inner">
    <div class="page-width">
        <div class="logo-container-dektop">
                    <a href="/">
                    <picture>
                        <source media="(min-width:768px)" srcset="{{ section.settings.logo_img |  img_url: '200x' }}">
                        <img src="{{ section.settings.logo_img |  img_url: '200x' }}" alt="logo-image-desktop">
                    </picture>
                    </a>
                </div>
      <div class="content-wrap">

        <div class="header-new-content">
            <div class="logo-icon-wrapper">
                <div class="logo-container">
                    <a>
                    <picture>
                        <source media="(min-width:768px)" srcset="{{ section.settings.logo_img |  img_url: '200x' }}">
                        <img src="{{ section.settings.logo_img |  img_url: '200x' }}" alt="logo-image">
                    </picture>
                    </a>
                </div>
    
                <div class="icons">
                    <button class="search-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" class="" width="20" height="21" viewBox="0 0 20 21" fill="none">
                        <path d="M8.5 16.0869C4.364 16.0869 1 12.7229 1 8.58691C1 4.45091 4.364 1.08691 8.5 1.08691C12.636 1.08691 16 4.45091 16 8.58691C16 12.7229 12.636 16.0869 8.5 16.0869ZM14.847 14.2269C16.183 12.7259 17 10.7539 17 8.58691C17 3.89291 13.194 0.0869141 8.5 0.0869141C3.806 0.0869141 0 3.89291 0 8.58691C0 13.2809 3.806 17.0869 8.5 17.0869C10.667 17.0869 12.639 16.2699 14.14 14.9339L19.293 20.0869L20 19.3799L14.847 14.2269Z" fill="black"></path>
                      </svg>
                    </button>
                    
                    <button class="profile-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="21" viewBox="0 0 22 21" fill="none">
                        <path d="M11.0132 0.914298C9.01318 0.911468 6.01176 1.90722 6.00752 4.90722C5.99761 11.9072 3.99903 10.9044 3.99761 11.9044C3.9962 12.9044 7.99478 13.91 7.99478 13.91C7.99478 13.91 7.99336 14.91 6.99337 14.9086C0.993282 14.9631 0.984881 20.9001 0.984881 20.9001L20.9849 20.9284C20.9849 20.9284 20.9933 14.9914 14.9934 14.9199C13.9934 14.9185 13.9948 13.9185 13.9948 13.9185C13.9948 13.9185 17.9962 12.9242 17.9976 11.9242C17.999 10.9242 15.9976 11.9214 16.0075 4.92137C16.0103 2.92137 15.0118 1.91996 14.0118 1.91854C13.0132 0.917128 12.0132 0.915713 11.0132 0.914298ZM11.0118 1.9143C11.9318 1.9156 12.5978 1.91654 13.3038 2.62454L13.5963 2.91796L14.0103 2.91854C14.4943 2.91923 15.0093 3.62096 15.0075 4.91995C15.0009 9.57095 15.8488 11.0532 16.7267 11.8824C16.1182 12.2175 14.9016 12.6618 13.7531 12.9482L12.9959 13.1371L12.9948 13.9171C12.9934 14.8871 13.6929 15.9181 14.9809 15.9199C18.5959 15.962 19.6004 18.4595 19.8793 19.9269L2.09829 19.9017C2.38635 18.4511 3.4039 15.9405 6.99195 15.9086C8.29095 15.9105 8.99341 14.8815 8.99478 13.9115L8.99588 13.1315L8.23915 12.9404C7.09056 12.6508 5.87519 12.203 5.26967 11.8662C6.14984 11.0394 7.00094 9.55963 7.00752 4.90863C7.01088 2.53564 9.62876 1.91234 11.0118 1.9143Z" fill="black"></path>
                      </svg>
                    </button>
                    
                    <button class="wishlist-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none" class="block group-[.active]/btn:hidden">
                         <path d="M14.9993 2.08691C13.7283 2.08691 12.4573 2.57091 11.4873 3.54091L9.98225 5.04591L8.47825 3.54091C7.50825 2.57091 6.23725 2.08691 4.96625 2.08691C3.69525 2.08691 2.42425 2.57091 1.45425 3.54091C-0.48475 5.47991 -0.48475 8.62291 1.45425 10.5619L9.98225 19.0869L18.5112 10.5619C20.4502 8.62291 20.4502 5.47991 18.5112 3.54091C17.5413 2.57091 16.2703 2.08691 14.9993 2.08691ZM14.9992 3.08691C16.0592 3.08691 17.0553 3.49891 17.8043 4.24791C18.5533 4.99691 18.9653 5.99191 18.9653 7.05191C18.9653 8.10991 18.5533 9.10591 17.8043 9.85491L9.98225 17.6729L2.16125 9.85491C1.41225 9.10591 1.00025 8.10991 1.00025 7.05191C1.00025 5.99191 1.41225 4.99691 2.16125 4.24791C2.91025 3.49891 3.90625 3.08691 4.96625 3.08691C6.02525 3.08691 7.02125 3.49891 7.77025 4.24791L9.98225 6.45891L12.1943 4.24791C12.9432 3.49891 13.9392 3.08691 14.9992 3.08691Z" fill="black"></path>
                        </svg>
    
    
                    </button>
                    
                    <button class="cart-icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                        <path d="M2.15 7.82691C2.225 7.41491 2.579 7.11791 3 7.11791H4.102C4.023 8.08991 4 10.0949 4 11.0869H5C5 10.0089 5.03 8.01791 5.106 7.11791H14.895C14.971 8.01791 15 10.0089 15 11.0869H16C16 10.0949 15.977 8.08991 15.899 7.11791H17C17.422 7.11791 17.775 7.41491 17.85 7.82691L18.902 19.0869H1.098L2.15 7.82691ZM10 1.08691C13.085 1.08691 14.337 2.88791 14.782 6.11791H5.218C5.664 2.88791 6.915 1.08691 10 1.08691ZM18.843 7.69891C18.702 6.78891 17.92 6.11791 17 6.11791H15.791C15.351 2.79191 14.005 0.0869141 10 0.0869141C5.995 0.0869141 4.65 2.79191 4.209 6.11791H3C2.08 6.11791 1.297 6.78891 1.158 7.69891L0 20.0869H20L18.843 7.69891Z" fill="black"></path>
                      </svg>
                    </button>
                </div>
            </div>
           

            <button class="hamburger-btn">
                <svg xmlns="http://www.w3.org/2000/svg" class="hamburger-icon" width="22" height="21" viewBox="0 0 22 21" fill="none">
                    <path d="M1.00977 3.03101L21.0097 3.05931L21.0083 4.05931L1.00835 4.031L1.00977 3.03101Z" fill="black"></path>
                    <path d="M1.00127 9.031L21.0013 9.0593L20.9998 10.0593L0.99986 10.031L1.00127 9.031Z" fill="black"></path>
                    <path d="M0.992784 15.031L20.9928 15.0593L20.9913 16.0593L0.991369 16.031L0.992784 15.031Z" fill="black"></path>
                </svg>

                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="21" viewBox="0 0 15 12" fill="none" class="close-icon">
                   <path d="M13.6416 0L7.46824 5.38276L1.29689 0L0.587494 0.617674L6.76085 6.00044L0.587494 11.3823L1.29689 12L7.46824 6.61811L13.6416 12L14.35 11.3823L8.17764 6.00044L14.35 0.617674L13.6416 0Z" fill="black"></path>
                </svg>
            </button>
        </div>

        <nav class="nav-links">

            <div class="nav-links-inner">
            <ul class="parent">
            {% for link in linklists.main-menu.links %} 
            <li class="parent-list">
                <a href="{{ link.url }}">
                {{ link.title |  upcase }}
                </a>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none" class="arrow-right">
                    <path d="M5.6383 14L5 13.2868L9.7234 8.0005L5 2.71524L5.6383 2L11 8.0005L5.6383 14Z" fill="black"></path>
                </svg>

                <!-- child links nav-->
              <div class="child-links">
                    <div class="child-head">
                        <button class="nested-toggle" data-role="nested-toggle" style="
                        background: none;
                        border: none;
                        transform: rotate(180deg);
                        ">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                        <path d="M5.6383 14L5 13.2868L9.7234 8.0005L5 2.71524L5.6383 2L11 8.0005L5.6383 14Z" fill="black"></path>
                        </svg>
                        </button>
                        <h3><a href="#" class="child-drawer-link">{{ link.title |  upcase }}</a></h3>
                        <button data-role="nav-toggle" style="
                        background: none;
                        border: none;
                        "><svg xmlns="http://www.w3.org/2000/svg" width="15" height="12" viewBox="0 0 15 12" fill="none">
                        <path d="M13.6416 0L7.46824 5.38276L1.29689 0L0.587494 0.617674L6.76085 6.00044L0.587494 11.3823L1.29689 12L7.46824 6.61811L13.6416 12L14.35 11.3823L8.17764 6.00044L14.35 0.617674L13.6416 0Z" fill="black"></path>
                        </svg>
                        </button>
                    </div>
                 <div class="child-drawer-wrapper">
                    <ul class="child">
                        {% for child_link in link.links %} 
                            <li class="child-item">
                               <a href="#" class="child-item-links"> {{ child_link.title |  upcase }}</a>

                                {% if child_link.links != blank %}
                                    <ul class="grandchild">
                                    {% for grandchild_link in child_link.links %}  
                                      <li><a href= "{{ grandchild_link.url }}" class="grand-child-links">{{ grandchild_link.title | upcase}}</a></li>
                                    {% endfor %}
                                    </ul>
                                {% endif %}   

                               
                            </li>
                        {% endfor %}
                    </ul>
                     <!-- child drawer header images -->
                    {% for block in section.blocks %}
                        {% assign parent_link_handle = link.title |  handleize %}
                        {% if block.settings.nav_handle == parent_link_handle %} 
                            <div class="child-header-image-with-text">
                             
                               <a>
                                <picture class="banner-image__picture">
                                    <source  media="(min-width:768px)" srcset="{{ block.settings.collection_img1 |  img_url: 'original' }}">

                                    <source  media="(max-width:767px)" srcset="{{ block.settings.collection_img1 |  img_url: 'original' }}">

                                    <img loading="lazy" src="{{ block.settings.collection_img1 |  img_url: 'original' }}" alt="hero-banner-image" class="">
                                </picture>
                               </a>
                               
                               <a>
                                <picture class="banner-image__picture">
                                    <source  media="(min-width:768px)" srcset="{{ block.settings.collection_img2 |  img_url: 'original' }}">

                                    <source  media="(max-width:767px)" srcset="{{ block.settings.collection_img2 |  img_url: 'original' }}">

                                    <img loading="lazy" src="{{ block.settings.collection_img2 |  img_url: 'original' }}" alt="hero-banner-image" class="">
                                </picture>
                               </a>
                            </div>
                        {% endif %}
                    {% endfor %}
                     
                 </div>
                   
                </div>
            </li>
            {% endfor %}
            </ul>

            <div class="drawer-icons">
            <div class="page-width">
            <div class="drawer-icons-inner">
            <button class="contact-btn">
            <a href="" class="">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
            <path d="M4.031 0C1.994 0 0 4.031 0 5.031C0 7.031 1 11 5 15C9 19 12.969 20 14.969 20C15.969 20 20 18.006 20 15.969C20 14.006 16 11 15 11C14 11 13 13 12 13C11 13 10 12 9 11C8 10 7 9 7 8C7 7 9 6 9 5C9 4 5.994 0 4.031 0ZM4.031 1C4.451 1 5.346 1.517 6.396 2.67C7.314 3.677 7.883 4.653 7.989 4.997C7.898 5.187 7.523 5.562 7.293 5.793C6.687 6.398 6 7.086 6 8C6 9.414 7.165 10.58 8.293 11.707C9.42 12.834 10.586 14 12 14C12.914 14 13.601 13.313 14.207 12.707C14.446 12.468 14.841 12.073 14.986 12.006C15.312 12.098 16.305 12.67 17.33 13.604C18.483 14.654 19 15.549 19 15.969C19 17.169 15.802 18.953 14.969 19C14.208 19 10.187 18.773 5.707 14.293C1.227 9.813 1 5.792 1 5.039C1.047 4.198 2.83 1 4.031 1Z" fill="black"></path>
            </svg>
            <span class="">Contact us</span>
            </a>
            </button>

            <button class="boutique-btn">
            <a href="" class="boutique-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="21" viewBox="0 0 16 21" fill="none">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M7.992 19.349C6.372 18.381 1 14.704 1 8.5C1 5.677 3.224 1.5 8 1.5C12.775 1.5 15 5.677 15 8.5C15 14.503 10.072 18.1 7.992 19.349ZM8 0.5C2.611 0.5 0 5.187 0 8.5C0 16.473 7.944 20.472 8 20.5C8 20.472 16 16.473 16 8.5C16 5.187 13.333 0.5 8 0.5ZM8 11.5C6.621 11.5 5.5 10.379 5.5 9C5.5 7.621 6.621 6.5 8 6.5C9.379 6.5 10.5 7.621 10.5 9C10.5 10.379 9.379 11.5 8 11.5ZM8 5.5C6.067 5.5 4.5 7.068 4.5 9C4.5 10.933 6.067 12.5 8 12.5C9.932 12.5 11.5 10.933 11.5 9C11.5 7.068 9.932 5.5 8 5.5Z" fill="#000"></path>
            </svg>
            <span class="boutique-text">Boutique</span>
            </a>
            </button>

            <button class="wishlist-btn" data-action="wishlist">

            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none" class="block group-[.active]/btn:hidden">
            <path d="M14.9993 2.08691C13.7283 2.08691 12.4573 2.57091 11.4873 3.54091L9.98225 5.04591L8.47825 3.54091C7.50825 2.57091 6.23725 2.08691 4.96625 2.08691C3.69525 2.08691 2.42425 2.57091 1.45425 3.54091C-0.48475 5.47991 -0.48475 8.62291 1.45425 10.5619L9.98225 19.0869L18.5112 10.5619C20.4502 8.62291 20.4502 5.47991 18.5112 3.54091C17.5413 2.57091 16.2703 2.08691 14.9993 2.08691ZM14.9992 3.08691C16.0592 3.08691 17.0553 3.49891 17.8043 4.24791C18.5533 4.99691 18.9653 5.99191 18.9653 7.05191C18.9653 8.10991 18.5533 9.10591 17.8043 9.85491L9.98225 17.6729L2.16125 9.85491C1.41225 9.10591 1.00025 8.10991 1.00025 7.05191C1.00025 5.99191 1.41225 4.99691 2.16125 4.24791C2.91025 3.49891 3.90625 3.08691 4.96625 3.08691C6.02525 3.08691 7.02125 3.49891 7.77025 4.24791L9.98225 6.45891L12.1943 4.24791C12.9432 3.49891 13.9392 3.08691 14.9992 3.08691Z" fill="black"></path>
            </svg>

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="14" viewBox="0 0 16 14" fill="none" class="w-5 h-[21px] hidden group-[.active]/btn:block">
            <path d="M7.63213 2.82074L7.98568 3.17452L8.33935 2.82085L9.54335 1.61685C10.2217 0.938527 11.1096 0.600098 11.9994 0.600098C12.8892 0.600098 13.7771 0.938527 14.4554 1.61685C15.8114 2.97276 15.8114 5.17052 14.4555 6.52646C14.4555 6.52649 14.4555 6.52652 14.4554 6.52655L7.98582 12.9931L1.51695 6.52655C1.51693 6.52653 1.51691 6.5265 1.51689 6.52648C0.161016 5.17054 0.161036 2.97277 1.51695 1.61685L1.1634 1.2633L1.51695 1.61685C2.19528 0.938527 3.08318 0.600098 3.973 0.600098C4.86277 0.600098 5.75062 0.938488 6.42893 1.61674C6.42897 1.61678 6.42901 1.61681 6.42905 1.61685L7.63213 2.82074Z" fill="black" stroke="black"></path>
            </svg>

            <span class="wishlist-text">Wishlist</span>

            </button>

            <button class="profile-btn" data-action="accountLogin">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="21" viewBox="0 0 22 21" fill="none">
            <path d="M11.0132 0.914298C9.01318 0.911468 6.01176 1.90722 6.00752 4.90722C5.99761 11.9072 3.99903 10.9044 3.99761 11.9044C3.9962 12.9044 7.99478 13.91 7.99478 13.91C7.99478 13.91 7.99336 14.91 6.99337 14.9086C0.993282 14.9631 0.984881 20.9001 0.984881 20.9001L20.9849 20.9284C20.9849 20.9284 20.9933 14.9914 14.9934 14.9199C13.9934 14.9185 13.9948 13.9185 13.9948 13.9185C13.9948 13.9185 17.9962 12.9242 17.9976 11.9242C17.999 10.9242 15.9976 11.9214 16.0075 4.92137C16.0103 2.92137 15.0118 1.91996 14.0118 1.91854C13.0132 0.917128 12.0132 0.915713 11.0132 0.914298ZM11.0118 1.9143C11.9318 1.9156 12.5978 1.91654 13.3038 2.62454L13.5963 2.91796L14.0103 2.91854C14.4943 2.91923 15.0093 3.62096 15.0075 4.91995C15.0009 9.57095 15.8488 11.0532 16.7267 11.8824C16.1182 12.2175 14.9016 12.6618 13.7531 12.9482L12.9959 13.1371L12.9948 13.9171C12.9934 14.8871 13.6929 15.9181 14.9809 15.9199C18.5959 15.962 19.6004 18.4595 19.8793 19.9269L2.09829 19.9017C2.38635 18.4511 3.4039 15.9405 6.99195 15.9086C8.29095 15.9105 8.99341 14.8815 8.99478 13.9115L8.99588 13.1315L8.23915 12.9404C7.09056 12.6508 5.87519 12.203 5.26967 11.8662C6.14984 11.0394 7.00094 9.55963 7.00752 4.90863C7.01088 2.53564 9.62876 1.91234 11.0118 1.9143Z" fill="black"></path>
            </svg>
            <span class="profile-text">Profile</span>
            </button>
            </div>
            </div>
            </div>
            </div>

        </nav>
      </div>
    </div>

    
  </div>
<!-- nav links starts here-->
  
    
</header>

<script>
    const hamburgerBtn = document.querySelector('.hamburger-btn');
    const navLinks = document.querySelector('nav.nav-links');
    const header = document.querySelector('.header-new');
    const parentNavLinks = document.querySelectorAll('ul.parent li');
    const childLinksContainer = document.querySelectorAll('.child-links');
    const nestedToggleBtns = document.querySelectorAll('button.nested-toggle');

    hamburgerBtn.addEventListener('click' , ()=>{
        navLinks.classList.toggle('show');
        header.classList.toggle('header-top');
    })

    parentNavLinks.forEach((linkItems)=>{
        linkItems.addEventListener('click' , (e)=>{
            console.log('clicked event occurs......');
            navLinks.classList.add('child-drawer');
            console.log(e.target.closest('li.parent-list'));
          let childLinks = e.target.closest('li.parent-list').querySelector('.child-links');
          let hideDrawer = e.target.closest('.nav-links-inner').querySelector('.drawer-icons');
          console.log(hideDrawer , "hideDrawer");

         if(!childLinks.classList.contains('active')){
            childLinksContainer.forEach((c)=>{
               c.classList.remove('active');
            })
            childLinks.classList.add('active');
            hideDrawer.style.display = "none";
         }

         else{
            hideDrawer.style.display = "block";
         }

          
        })
    })

    // nestedToggleBtns.forEach((toggleBtn)=>{
    //     toggleBtn.addEventListener('click' , (e)=>{
    //         let clikedBtn = e.target.querySelector('')
    //     })
    // })


</script>
{%  schema  %} 
{
    "name":"t:sections.header-new.name",
    "settings": [
        {
            "type":"image_picker",
            "id":"logo_img",
            "label": "Select the logo image"
        }
    ],
    "blocks":[{
        "name":"Parent nav",
        "type": "image",
        "settings": [
            {
                "type": "image_picker",
                "id":"collection_img1",
                "label":"Select the image 1"
            },

            {
                "type":"image_picker",
                "id":"collection_img2",
                "label":"Select the image 2"
            },
            {
                "type":"text",
                "id":"nav_handle",
                "label": "Enter the parent nav handle"
            },
            {
                "type":"text",
                "id":"collection_img_title1",
                "label":"Enter the title 1"
            },
            {
                "type":"text",
                "id":"collection_img_title2",
                "label":"Enter the title 2"
            },
            {
                "type": "number",
                "id":"image_number",
                "label":"Enter the number of images"
            }

        ]
    }]
}
 
{% endschema %}